# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
@nestcloud:registry=https://gitlab.com/api/v4/projects/31288033/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
'//gitlab.com/api/v4/projects/31288033/packages/npm/:_authToken'="fb2Us7oCmKqsZbcdeAEG"
